/*  TYPOGRAPHY
	==========  */

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4em; /* equiv 14px */
}

.title {
	text-transform: uppercase;
	font-family: $montserrat;
	color: $secondary;
	&.level1 {
		display: inline-block;
		font-size: em(20);
		&::after {
			content: "";
			display: block;
			height: 4px;
			width: 25px;
			margin: 15px 0;
			background-color: $secondary;
			transition: width 200ms ease;
		}
		&:hover {
			&::after {width: 100%;}
		}
	}
}