/*
	Kickstart files for html/css project. Based on Kaelig documentation (blog.kaelig.fr) and on sass
*/

@import "variables";
@import "mixins";
@import "reset";
//@import "grid_system";
//@import "grid";
@import "commons";
@import "fonts";
@import "typo";
//@import "forms";

/*  GLOBAL
	======  */

body {
	color: $primary;
}


/*  HEADER
	======  */


/*  MAIN
	====  */
.main {
	background-color: $bg;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.main__title {
	position: absolute;
	top: 30%;
	left: em(75);
}
.desc {
	font-family: $lato;
	font-size: em(18);
}
.folio {
	font-family: $lato;
	font-size: em(14);
	a {color: #fff;}
}
/*  FOOTER
	======  */
.footer {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.icons {
	text-align: center;
	margin-bottom: 10px;
	.twitter {margin-right: 10px;}
	.social {
		path {transition: fill 200ms ease;}
		&:hover,
		&:focus {
			path {fill:$primary;} 
		}
		.no-svg & {
			width: 30px;
			height: 30px;
			display: inline-block;
			background: url(../img/sprite.png) 0 0 no-repeat;
			&.github {background-position: -30px 0;}
		}

	}
}

.email {
	display: block;
	text-align: center;
	font-size: em(14);
	font-family: $lato;
	transition: color 200ms ease;
	color:$secondary;
	&:hover,
	&:focus {
		color: $primary;
	}
}

@import "print";



