.page {
  background: var(--primary);
  color: var(--text);
  overflow: auto;
  margin: 0;
  position: relative;
}

.container {
  max-width: 96ch;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.blog_content {
  max-width: 67ch;
}

.arrow-list {
  li {
    padding-left: 22px;
    position: relative;
    &:before {
      content: '→';
      font-size: 0.8em;
      vertical-align: baseline;
      position: absolute;
      left: 0;
    }
  }
}
