
.hero {
  padding: 120px 0 150px;
}

.projects {
  margin-bottom: 6rem;
  span {
    display: block;
    margin-top: 8px;
  }
}

.last-article {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}