
.page {
  background: var(--primary);
  color: var(--text);
  overflow: auto;
  margin: 0;
  position: relative;

  @media screen and (min-width: 48rem) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 100vh;
  }
}

.container {
  max-width: 96ch;
  width: 100%;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-bottom: var(--space-4xl);
}



.arrow-list {
  li {
    padding-left: 22px;
    position: relative;
    &:before {
        content: "→";
        font-size: .8em;
        vertical-align: baseline;
        position: absolute;
        left: 0;
    }
  }
}
