/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,960,17,1.2,5,2,1440&s=0.75|0.5|0.25,1.5|2|3|4|5|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.79rem, calc(0.77rem + 0.12vw), 0.84rem);
  --step--1: clamp(0.89rem, calc(0.86rem + 0.14vw), 0.94rem);
  --step-0: clamp(1.00rem, calc(0.97rem + 0.16vw), 1.06rem);
  --step-1: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.20rem);
  --step-2: clamp(1.27rem, calc(1.23rem + 0.20vw), 1.35rem);
  --step-3: clamp(1.42rem, calc(1.38rem + 0.22vw), 1.51rem);
  --step-4: clamp(1.60rem, calc(1.55rem + 0.25vw), 1.70rem);
  --step-5: clamp(1.80rem, calc(1.75rem + 0.28vw), 1.91rem);

  --weight-strong: 500;
}