@mixin dark-theme {
  --primary: #181c20;
  --primaryClear: #484b52;
  --secondary: #fff;
  --grey: #d2d2d2;
  --textFaded: #b5b5b5;
  --text: #e8eaed;
  --emphasis: #a59046;
}

@mixin light-theme {
  --primary: #fff;
  --primaryClear: #c8c6c6;
  --secondary: #181c20;
  --faded: #2a3037;
  --grey: #d2d2d2;
  --textFaded: #535458;
  --text: #181c20;
  --emphasis: #86d3e4;
}

:root {
  --white: #ffffff;
  --accent-code: 108, 209, 156;
  --accent: rgb(var(--accent-code));
  --accent-05: rgba(var(--accent-code), 0.5);
  --accent-006: rgba(var(--accent-code), 0.06);
  --weight-strong: 700;
  @include light-theme();
  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,960,17,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|5|6|7|8,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6rem, calc(0.66rem + -0.1vw), 0.64rem);
  --step--1: clamp(0.8rem, calc(0.8rem + -0.01vw), 0.8rem);
  --step-0: clamp(1rem, calc(0.97rem + 0.16vw), 1.06rem);
  --step-1: clamp(1.25rem, calc(1.17rem + 0.42vw), 1.42rem);
  --step-2: clamp(1.56rem, calc(1.4rem + 0.81vw), 1.89rem);
  --step-3: clamp(1.95rem, calc(1.67rem + 1.41vw), 2.52rem);
  --step-4: clamp(2.44rem, calc(1.98rem + 2.28vw), 3.35rem);
  --step-5: clamp(3.05rem, calc(2.34rem + 3.55vw), 4.47rem);
  --step-6: clamp(3.82rem, calc(2.74rem + 5.36vw), 5.96rem);

  --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-2xs: clamp(0.5rem, calc(0.47rem + 0.16vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.72rem + 0.16vw), 0.81rem);
  --space-s: clamp(1rem, calc(0.97rem + 0.16vw), 1.06rem);
  --space-m: clamp(1.5rem, calc(1.44rem + 0.31vw), 1.63rem);
  --space-l: clamp(2rem, calc(1.94rem + 0.31vw), 2.13rem);
  --space-xl: clamp(3rem, calc(2.91rem + 0.47vw), 3.19rem);
  --space-2xl: clamp(4rem, calc(3.88rem + 0.63vw), 4.25rem);
  --space-3xl: clamp(5rem, calc(4.84rem + 0.78vw), 5.31rem);
  --space-4xl: clamp(6rem, calc(5.81rem + 0.94vw), 6.38rem);
  --space-5xl: clamp(7rem, calc(6.78rem + 1.09vw), 7.44rem);
  --space-6xl: clamp(8rem, calc(7.75rem + 1.25vw), 8.5rem);
}

body {
  @include light-theme();
}

body.dark {
  @include dark-theme();
}
