.article {
  &__header {
    padding-block: var(--space-6xl) var(--space-l);
    background-color: var(--accent-006);
  }

  &__description {
    margin-block: var(--space-m);
  }

  &__date {
    font-size: var(--step--1);
    opacity: 0.6;
    margin-block-end: var(--space-m);
    &:before {
      content: "";
      height: 1px;
      background-color: var(--textFaded);
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__content {
    margin-block: var(--space-2xl);
  }
}

.article-teaser {
  display: flex;
  align-items: flex-start;

  & > * + * {
    margin-inline-start: var(--space-xs);
  }

  &__date {
    font-size: var(--step-1); // for alignment with title
    & > time {
      font-size: var(--step--1);
      font-family: "IBMPlex", monospace;
      background: var(--secondary);
      color: var(--primary);
      border-radius: 4px;
      line-height: 1;
      padding-inline: var(--space-2xs);
      padding-block: var(--space-3xs);
    }
  }

  &__title {
    font-size: var(--step-1);
    font-weight: 700;
    margin-top: 0;

    a {
      border: 0;
    }
  }
}
