.article {
  &__header {
    margin: var(--space-m) 0 var(--space-7xl);
  }

  &__description {
    margin-block: var(--space-m);
  }

  &__date {
    font-size: var(--step--1);
  }

  &__content {
    max-width: 640px;

    img {
      width: 100%;
      height: auto;
    }

    ul:not(.taglist) {
      margin-top: 0.8rem;
      li {
        &:before {
          content: "→";
          margin-right: 0.3em;
        }
      }
    }

    ol {
      margin-top: 0.8rem;
      counter-reset: content-counter;
      li {
        counter-increment: content-counter;
        &:before {
          content: counter(content-counter) ". ";
          font-size: 0.875em;
          font-weight: 600;
        }
      }
    }

    img {
      margin-block: var(--space-m);
    }
  }
}

.article-teaser {
  &__date {
    font-size: var(--step--1);
  }

  h2 {
    margin: 0;
    a {
      border: 0;
    }
  }

  & > p {
    margin-left: var(--space-l);
    margin-top: var(--space-s);
  }

  & + & {
    margin-top: var(--space-xl);
  }
}
