.page-footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
  }
}
