.page-footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  gap: 10px;
  font-size: var(--step--1);

  &__menu {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;

    a:not([aria-current]) {
      border-bottom-color: transparent;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
    a {
      border: 0;
    }

    svg rect,
    svg path {
      fill: var(--text);
    }
  }
}
