{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
    {% if page.url == "/" %}
      <title>{{ meta.siteName }} - {{ meta.siteBaseline }}</title>
    {% else %}
      <title>{{ title }} - {{ meta.siteName }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ meta.siteDescription }}">
    <meta name="robots" content="noodp">

    {% favicon './src/public/favicon.svg' %}

    <link rel="stylesheet" href="/assets/css/base.scss">
    
    {% include "schemas/website.njk" %}

  </head>
  <body class="page">
    <a href="#main" class="sr-only sr-only-focusable">Accéder au contenu</a>

    {% include "partials/header.njk" %}

    <main class="main" role="main" id="main" tabindex="-1">
      {{ content | safe }}
    </main>
    
    {% include "partials/footer.njk" %}

  </body>
</html>
