---
layout: base.njk
---
<article class="article">
  <header class="article__header">
    <div class="container">
      {% if not eleventyExcludeFromCollections %}
        {% include "partials/breadcrumb.njk" %}
      {% endif %}

      <h1 class="article__title">
        {{ title }}
      </h1>
    </div>
  </header>
  <section class="article__content">
    <div class="container">
      {% if created_at %}
        <p class="article__date">
        Posté le
          <time datetime="{{ created_at | format("YYYY-MM-DD") }}">{{ created_at | format('DD/MM/YYYY') }}</time>
        </p>
      {% endif %}
      
      <div class="md blog_content">
        {{ content | safe }}
      </div>

      {% if updated_at %}
      <p class="article__update">
        Mis à jour le 
          <time datetime="{{ updated_at | format("YYYY-MM-DD") }}">{{ updated_at | format('DD/MM/YYYY') }}</time>
      </p>
      {% endif %}

    </div>
  </section>
</article>
