h1,
.h1 {
  font-family: 'Gilroy', sans-serif;
  color: var(--white);
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 30px;
}

h2,
.h2 {
  font-size: 18px;
  margin-top: 45px;
}

p {
  font-family: Gill Sans, sans-serif;
  margin: 0;
  color: var(--text);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03125rem;
  a {
    color: inherit;
    background-color: var(--darkgrey);
    padding: 1px 5px;
    border-radius: 3px;
    vertical-align: baseline;
    border: 1px solid var(--darkgrey);
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}
