.gilroy {
  font-family: 'Gilroy', sans-serif;
  color: #fff;
  letter-spacing: 0.02rem;
}

.dotted {
  position: relative;
  &:before {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #adadad;
    position: absolute;
    left: -18px;
    top: 8px;
    box-shadow: 0px 5px 0 0 var(--grey), 5px 0 0 0 var(--grey), 5px 5px 0 0 var(--grey), 0 10px 0 0 var(--grey), 5px 10px 0 0 var(--grey);
    content: '';
    position: absolute;
  }
}

.dotlink {
  font-size: 18px;

  &:before {
    content: ':';
    margin-right: 3px;
    line-height: 138%;
    letter-spacing: 0.13em;
    color: var(--grey);
    transition: all 0.3s ease-in;
    display: inline-block;
  }
  &:hover,
  &:focus {
    &:before {
      color: white;
      text-shadow: -6px 0 0 white;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
}
