:root {
  --black: #1e1e20;
  --white: #fff;
  --text: #c2c2c2;
  --grey: #c4c4c4;
  --yellow: #f4d322;
  --leftPadding: 25px;
  --padding: 20px;

  @media (min-width: 600px) {
    --padding: 30px;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
