---
title: Jean-Rémy Praud
layout: base.njk
permalink: index.html
eleventyNavigation:
  key: Accueil
---

<div class="hero">
  <p class="baseline">
    Tech Lead chez <a href="https://www.derniercri.io">Dernier Cri</a>, j’aime travailler sur des projets porteurs de
    sens.
  </p>
  <p class="baseline">
    Je m’intéresse tout particulièrement à <em>l’éco-conception</em> et à
    <em>l’accessibilité</em>, et plus largement à la sobriété numérique.
  </p>
</div>

<section class="col last-article container-s">
  <div class="last-article__title">
    <h2>Dernier article</h2>
  </div>
  {% set postslist = collections.posts %}
  {% set post = postslist[0] %}
  {% include 'partials/post-teaser.njk' %}
</section>