---
title: Jean-Rémy Praud
layout: base.njk
permalink: index.html
eleventyNavigation:
  key: Accueil
---

<section class="container">
  <div class="hero">
    <img src="/assets/img/profile.webp" alt="" width="172" height="190"/>
    <div>
      <p class="baseline">
        Developpeur fullstack, j’aime travailler sur des projets porteurs de
        sens. 
        Je m’intéresse tout particulièrement à <em>l’éco-conception</em> et à
        <em>l’accessibilité</em>, et plus largement à la sobriété numérique.
      </p>
      <a href="/a-propos/" class="button">Plus d'infos</a>
    </div>
  </div>
</section>
<section class="last-notes">
  <div class="container">

    <h2 class="h2 mb-6">Dernières notes</h2>
    <ul class="last-notes__list" >
      {%- for post in collections.posts.slice(0,2) %}
        <li>
          {% include 'partials/post-teaser.njk' %}
        </li>
      {% endfor -%}

    </ul>
    <a href="/notes/" class="button">Voir tout</a>
  </div>

</section>
