---
title: Ma liste de flux RSS
description: Ma liste de flux RSS
date: 2023-07-04
layout: page.njk
---

<p class="info">
    Télécharger le fichier <a href="/blogroll.opml">OPML</a>
</p>

<ul class="naked blogroll">

  {%- for blog in blogroll %}
    <li class="source">
      <img class="source__img" src="" alt="">
      <div>

        <p class="source__title">
          {{blog.title}}
        </p>
        <p>
          <a href="{{blog.xmlUrl}}">RSS</a>
          <p>
            <p>
              <a href="{{blog.htmlUrl}}">Visiter</a>
            </p>
          </div>
        </li>
      {% endfor -%}
    </ul>
