@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Additional reset */
a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-VariableFont_wght-subset.woff2") format("woff2"), url("../fonts/AlbertSans-VariableFont_wght-subset.woff") format("woff");
}
@font-face {
  font-family: "Adjusted Albert Fallback";
  src: local(Arial);
  size-adjust: 104%;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 4%;
}
@font-face {
  font-family: "IBMPlex";
  src: url("../fonts/IBMPlexMono-Medium-subset.woff2") format("woff");
  unicode-range: U+0030-0039;
}
:root {
  --primary: #fff;
  --secondary: #181c20;
  --text: #181c20;
  --accent-code: 108, 209, 156;
  --white: #fff;
  --weight-strong: 700;
  --faded: #2e3440;
  --textFaded: #6d7171;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1120,17,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|5|6|7|8,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.64rem, calc(0.62rem + 0.08vw), 0.68rem);
  --step--1: clamp(0.8rem, calc(0.78rem + 0.1vw), 0.85rem);
  --step-0: clamp(1rem, calc(0.98rem + 0.13vw), 1.06rem);
  --step-1: clamp(1.25rem, calc(1.22rem + 0.16vw), 1.33rem);
  --step-2: clamp(1.56rem, calc(1.52rem + 0.2vw), 1.66rem);
  --step-3: clamp(1.95rem, calc(1.9rem + 0.24vw), 2.08rem);
  --step-4: clamp(2.44rem, calc(2.38rem + 0.3vw), 2.59rem);
  --step-5: clamp(3.05rem, calc(2.98rem + 0.38vw), 3.24rem);
  --step-6: clamp(3.82rem, calc(3.72rem + 0.48vw), 4.05rem);
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-2xs: clamp(0.5rem, calc(0.48rem + 0.13vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.73rem + 0.13vw), 0.81rem);
  --space-s: clamp(1rem, calc(0.98rem + 0.13vw), 1.06rem);
  --space-m: clamp(1.5rem, calc(1.45rem + 0.25vw), 1.63rem);
  --space-l: clamp(2rem, calc(1.95rem + 0.25vw), 2.13rem);
  --space-xl: clamp(3rem, calc(2.93rem + 0.38vw), 3.19rem);
  --space-2xl: clamp(4rem, calc(3.9rem + 0.5vw), 4.25rem);
  --space-3xl: clamp(5rem, calc(4.88rem + 0.63vw), 5.31rem);
  --space-4xl: clamp(6rem, calc(5.85rem + 0.75vw), 6.38rem);
  --space-5xl: clamp(7rem, calc(6.83rem + 0.88vw), 7.44rem);
  --space-6xl: clamp(8rem, calc(7.8rem + 1vw), 8.5rem);
}

body {
  --primary: #fff;
  --secondary: #181c20;
  --text: #181c20;
  --accent-code: 108, 209, 156;
  --accent: rgb(var(--accent-code));
  --accent-05: rgba(var(--accent-code), 0.5);
  --accent-006: rgba(var(--accent-code), 0.12);
}

body {
  font-size: var(--step-0);
  line-height: 1.6;
  font-family: "Albert Sans", "Adjusted Albert Fallback", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TITLES */
h1,
.h1 {
  font-size: var(--step-3);
  font-weight: var(--weight-strong);
}

h2,
.h2 {
  font-size: var(--step-2);
  font-weight: var(--weight-strong);
}

h3,
.h3 {
  font-size: var(--step-1);
  font-weight: var(--weight-strong);
}

.list li:before {
  content: "→";
}
.list li + li {
  margin-top: 12px;
}

.page {
  background: var(--primary);
  color: var(--text);
  overflow: auto;
  margin: 0;
  position: relative;
}

.container {
  max-width: 96ch;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.arrow-list li {
  padding-left: 22px;
  position: relative;
}
.arrow-list li:before {
  content: "→";
  font-size: 0.8em;
  vertical-align: baseline;
  position: absolute;
  left: 0;
}

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */
code,
pre {
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

p > code {
  font-size: 0.8em;
}

pre {
  --radius: 4px;
  color: #f8f8f2;
  background: none;
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: var(--step--1);
}

/* Code blocks */
pre {
  padding: 1em;
  overflow: auto;
  border-radius: var(--radius);
}

pre {
  background: var(--faded);
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em;
  border-radius: var(--radius);
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81a1c1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81a1c1;
}

.token.number {
  color: #cda1c5;
}

.token.boolean {
  color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.keyword {
  color: #81a1c1;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Spacing */
.m-1 {
  margin: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.p-1 {
  padding: 4px;
}

.pt-1 {
  padding-top: 4px;
}

.pr-1 {
  padding-right: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pl-1 {
  padding-left: 4px;
}

.m-2 {
  margin: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.p-2 {
  padding: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.pr-2 {
  padding-right: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pl-2 {
  padding-left: 8px;
}

.m-3 {
  margin: 12px;
}

.mt-3 {
  margin-top: 12px;
}

.mr-3 {
  margin-right: 12px;
}

.mb-3 {
  margin-bottom: 12px;
}

.ml-3 {
  margin-left: 12px;
}

.p-3 {
  padding: 12px;
}

.pt-3 {
  padding-top: 12px;
}

.pr-3 {
  padding-right: 12px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pl-3 {
  padding-left: 12px;
}

.m-4 {
  margin: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.ml-4 {
  margin-left: 16px;
}

.p-4 {
  padding: 16px;
}

.pt-4 {
  padding-top: 16px;
}

.pr-4 {
  padding-right: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pl-4 {
  padding-left: 16px;
}

.m-5 {
  margin: 20px;
}

.mt-5 {
  margin-top: 20px;
}

.mr-5 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 20px;
}

.p-5 {
  padding: 20px;
}

.pt-5 {
  padding-top: 20px;
}

.pr-5 {
  padding-right: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 20px;
}

.m-6 {
  margin: 24px;
}

.mt-6 {
  margin-top: 24px;
}

.mr-6 {
  margin-right: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.ml-6 {
  margin-left: 24px;
}

.p-6 {
  padding: 24px;
}

.pt-6 {
  padding-top: 24px;
}

.pr-6 {
  padding-right: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pl-6 {
  padding-left: 24px;
}

.m-7 {
  margin: 28px;
}

.mt-7 {
  margin-top: 28px;
}

.mr-7 {
  margin-right: 28px;
}

.mb-7 {
  margin-bottom: 28px;
}

.ml-7 {
  margin-left: 28px;
}

.p-7 {
  padding: 28px;
}

.pt-7 {
  padding-top: 28px;
}

.pr-7 {
  padding-right: 28px;
}

.pb-7 {
  padding-bottom: 28px;
}

.pl-7 {
  padding-left: 28px;
}

.m-8 {
  margin: 32px;
}

.mt-8 {
  margin-top: 32px;
}

.mr-8 {
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 32px;
}

.ml-8 {
  margin-left: 32px;
}

.p-8 {
  padding: 32px;
}

.pt-8 {
  padding-top: 32px;
}

.pr-8 {
  padding-right: 32px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pl-8 {
  padding-left: 32px;
}

.m-9 {
  margin: 36px;
}

.mt-9 {
  margin-top: 36px;
}

.mr-9 {
  margin-right: 36px;
}

.mb-9 {
  margin-bottom: 36px;
}

.ml-9 {
  margin-left: 36px;
}

.p-9 {
  padding: 36px;
}

.pt-9 {
  padding-top: 36px;
}

.pr-9 {
  padding-right: 36px;
}

.pb-9 {
  padding-bottom: 36px;
}

.pl-9 {
  padding-left: 36px;
}

.m-10 {
  margin: 40px;
}

.mt-10 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 40px;
}

.mb-10 {
  margin-bottom: 40px;
}

.ml-10 {
  margin-left: 40px;
}

.p-10 {
  padding: 40px;
}

.pt-10 {
  padding-top: 40px;
}

.pr-10 {
  padding-right: 40px;
}

.pb-10 {
  padding-bottom: 40px;
}

.pl-10 {
  padding-left: 40px;
}

/* Display */
.df {
  display: flex;
}

.db {
  display: block;
}

.border-0 {
  border: 0;
}

.md {
  max-width: 67ch;
  /* PARAGRAPHS */
}
.md > * + * {
  margin-block-start: 1.5em;
}
.md a {
  text-decoration: none;
  position: relative;
  color: inherit;
  border-bottom: 1px solid var(--text);
}
.md a[href^=http]:after {
  content: "↗";
  font-size: 0.8em;
  vertical-align: baseline;
  margin-left: 0.2rem;
}
.md a:visited {
  border-bottom-color: var(--textFaded);
}
.md .title-anchor {
  color: var(--accent-05);
  border: 0;
  font-size: var(--step-0);
}
.md ul:not(.taglist) {
  margin-top: 0.8rem;
}
.md ul:not(.taglist) li:before {
  content: "→";
  margin-right: 0.3em;
}
.md ol {
  margin-top: 0.8rem;
  counter-reset: content-counter;
}
.md ol li {
  counter-increment: content-counter;
}
.md ol li:before {
  content: counter(content-counter) ". ";
  font-size: 0.875em;
  font-weight: 600;
}
.md small {
  font-size: var(--step--1);
}
.md strong {
  font-weight: var(--weight-strong);
}
.md blockquote {
  margin: 1.6rem 0 1.1rem;
  padding: 8px 15px;
  border-left: 2px solid var(--text);
}
.md img {
  max-width: 100%;
  height: auto;
}

.article__header {
  padding-block: var(--space-6xl) var(--space-l);
  background-color: var(--accent-006);
}
.article__description {
  margin-block: var(--space-m);
}
.article__date {
  font-size: var(--step--1);
  opacity: 0.6;
  margin-block-end: var(--space-m);
}
.article__date:before {
  content: "";
  height: 1px;
  background-color: var(--textFaded);
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.article__content {
  margin-block: var(--space-2xl);
}

.article-teaser__date {
  font-size: var(--step--1);
}
.article-teaser__title {
  font-size: var(--step-1);
  font-weight: 700;
  margin-top: 0;
}
.article-teaser__title a {
  border: 0;
}

.button {
  padding-block-end: 4px;
  font-weight: 700;
}
.button:before {
  content: "➔";
  margin-inline-end: var(--space-xs);
  color: var(--accent);
  display: inline-block;
  font-weight: normal;
}

.breadcrumb {
  font-size: var(--step--1);
  margin-block-start: var(--space-3xl);
  line-height: 1.6;
  color: var(--textFaded);
}
.breadcrumb a {
  color: var(--text);
}

.hero {
  padding-block: var(--space-3xl);
}
.hero > div {
  margin-block-start: -80px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .hero > div {
    margin-inline-start: 120px;
  }
}
.hero .button {
  margin-inline-start: auto;
}

.baseline {
  font-size: var(--step-2);
  font-weight: 300;
}
.baseline em {
  font-weight: 600;
}

.page-header {
  padding-block: var(--space-s);
}
.page-header > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header .page__title {
  font-weight: 700;
  font-size: var(--step-1);
}
.page-header .page__title span {
  color: var(--accent);
}
.page-header__menu, .page-header__menu ul {
  display: flex;
  align-items: center;
}
.page-header__menu li + li, .page-header__menu ul li + li {
  margin-inline-start: var(--space-l);
}
.page-header__menu a, .page-header__menu ul a {
  padding-block: var(--space-2xs);
  transition: all 0.3s ease;
  position: relative;
  font-weight: 600;
}
.page-header__menu a[aria-current]:after, .page-header__menu ul a[aria-current]:after {
  content: "";
  background-color: var(--accent-05);
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  position: absolute;
}
.page-header__toggle-mode {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--accent-05);
  border: 0;
  cursor: pointer;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header__toggle-mode .sun {
  display: none;
}
.page-header__toggle-mode .moon {
  display: block;
}
body.dark .page-header__toggle-mode .sun {
  display: block;
}
body.dark .page-header__toggle-mode .moon {
  display: none;
}

.page-footer {
  background-color: var(--faded);
  color: var(--white);
  padding-block: var(--space-l);
}
.page-footer__menus {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.page-footer__menu {
  display: flex;
  flex-direction: row;
}
.page-footer__menu li + li {
  margin-inline-start: var(--space-xs);
}
.page-footer__menus > div {
  display: flex;
  align-items: flex-end;
  align-items: center;
}
.page-footer__social {
  display: flex;
}
.page-footer__social li + li {
  margin-inline-start: var(--space-2xs);
}
.page-footer p {
  margin-inline-end: var(--space-s);
  font-size: var(--step--1);
  text-align: right;
}

.last-notes {
  background-color: var(--accent-006);
  padding-block-start: var(--space-xl);
  padding-block-end: var(--space-2xl);
}
.last-notes .button {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-block-start: var(--space-s);
}
.last-notes__list {
  --auto-grid-min-size: 21rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: var(--space-m);
}

.notes {
  max-width: 67ch;
}
.notes > * + * {
  margin-block-start: var(--space-l);
}

@media print {
  .page-footer {
    display: none;
  }
}
