@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Additional reset */
a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-VariableFont_wght-subset.woff2") format("woff");
}
:root {
  --primary: #F2F2F2;
  --primaryClear: #C8C6C6;
  --secondary: #202124;
  --grey: #d2d2d2;
  --textFaded: #535458;
  --text: #202124;
  --emphasis: #86D3E4;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,960,16,1.2,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--1: clamp(0.83rem, calc(0.92rem + -0.14vw), 0.89rem);
  --step-0: clamp(1.00rem, calc(1.00rem + 0.00vw), 1.00rem);
  --step-1: clamp(1.13rem, calc(1.09rem + 0.19vw), 1.20rem);
  --step-2: clamp(1.27rem, calc(1.18rem + 0.44vw), 1.44rem);
  --step-3: clamp(1.42rem, calc(1.27rem + 0.76vw), 1.73rem);
  --step-4: clamp(1.60rem, calc(1.37rem + 1.18vw), 2.07rem);
  --step-5: clamp(1.80rem, calc(1.46rem + 1.72vw), 2.49rem);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #202124;
    --primaryClear: #484B52;
    --secondary: #F2F2F2;
    --grey: #d2d2d2;
    --textFaded: #B5B5B5;
    --text: #E8EAED;
    --emphasis: #A59046;
  }
}

body {
  --primary: #F2F2F2;
  --primaryClear: #C8C6C6;
  --secondary: #202124;
  --grey: #d2d2d2;
  --textFaded: #535458;
  --text: #202124;
  --emphasis: #86D3E4;
}

body.dark {
  --primary: #202124;
  --primaryClear: #484B52;
  --secondary: #F2F2F2;
  --grey: #d2d2d2;
  --textFaded: #B5B5B5;
  --text: #E8EAED;
  --emphasis: #A59046;
}

body {
  font-size: var(--step-0);
  line-height: 1.4;
  font-family: "Albert Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TITLES */
h1, .h1 {
  font-size: var(--step-5);
  font-weight: var(--weight-strong);
}

h2, .h2 {
  font-size: var(--step-4);
  font-weight: var(--weight-strong);
  margin: 2.4rem 0 0.8rem;
}

h3, .h3 {
  font-size: var(--step-3);
  font-weight: var(--weight-strong);
  margin: 2.2rem 0 0.8rem;
}

h4, .h4 {
  font-size: var(--step-2);
  font-weight: var(--weight-strong);
  margin: 2rem 0 0.8rem;
}

h5, .h5 {
  font-size: var(--step-1);
  font-weight: var(--weight-strong);
  margin: 2rem 0 0.8rem;
}

h6, .h6 {
  font-size: var(--step-0);
  font-weight: var(--weight-strong);
  margin: 2rem 0 0.8rem;
}

/* PARAGRAPHS */
small {
  font-size: var(--step--1);
}

strong {
  font-weight: var(--weight-strong);
}

/* ANCHOR & EMPHASIS */
a {
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid var(--text);
}
a[href^=http]:after {
  content: "↗";
  font-size: 0.8em;
  vertical-align: baseline;
  margin-left: 0.2rem;
}
a:visited {
  color: var(--textFaded);
  border-bottom-color: var(--textFaded);
}

blockquote {
  margin: 1.6rem 0 1.1rem;
  padding: 8px 15px;
  border-left: 2px solid var(--text);
}

/* CODE */
pre {
  background-color: var(--primaryClear);
  padding: 20px 14px;
  color: var(--text);
  font-family: monospace;
  margin: 1.6rem 0 1.1rem;
}

/* LISTS */
.translucent-00 {
  opacity: 0;
}

.translucent-10 {
  opacity: 0.1;
}

.translucent-20 {
  opacity: 0.2;
}

.translucent-30 {
  opacity: 0.3;
}

.translucent-40 {
  opacity: 0.4;
}

.translucent-50 {
  opacity: 0.5;
}

.translucent-60 {
  opacity: 0.6;
}

.translucent-70 {
  opacity: 0.7;
}

.translucent-80 {
  opacity: 0.8;
}

.translucent-90 {
  opacity: 0.9;
}

.translucent-100 {
  opacity: 1;
}

.list li:before {
  content: "→";
}
.list li + li {
  margin-top: 12px;
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,960,17,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|5|6|7|8|9,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
  --space-2xs: clamp(0.50rem, calc(0.47rem + 0.16vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.72rem + 0.16vw), 0.81rem);
  --space-s: clamp(1.00rem, calc(0.97rem + 0.16vw), 1.06rem);
  --space-m: clamp(1.50rem, calc(1.44rem + 0.31vw), 1.63rem);
  --space-l: clamp(2.00rem, calc(1.94rem + 0.31vw), 2.13rem);
  --space-xl: clamp(3.00rem, calc(2.91rem + 0.47vw), 3.19rem);
  --space-2xl: clamp(4.00rem, calc(3.88rem + 0.63vw), 4.25rem);
  --space-3xl: clamp(5.00rem, calc(4.84rem + 0.78vw), 5.31rem);
  --space-4xl: clamp(6.00rem, calc(5.81rem + 0.94vw), 6.38rem);
  --space-5xl: clamp(7.00rem, calc(6.78rem + 1.09vw), 7.44rem);
  --space-6xl: clamp(8.00rem, calc(7.75rem + 1.25vw), 8.50rem);
  --space-7xl: clamp(9.00rem, calc(8.72rem + 1.41vw), 9.56rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.09rem + 0.78vw), 0.56rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.34rem + 0.78vw), 0.81rem);
  --space-xs-s: clamp(0.75rem, calc(0.59rem + 0.78vw), 1.06rem);
  --space-s-m: clamp(1.00rem, calc(0.69rem + 1.56vw), 1.63rem);
  --space-m-l: clamp(1.50rem, calc(1.19rem + 1.56vw), 2.13rem);
  --space-l-xl: clamp(2.00rem, calc(1.41rem + 2.97vw), 3.19rem);
  --space-xl-2xl: clamp(3.00rem, calc(2.38rem + 3.13vw), 4.25rem);
  --space-2xl-3xl: clamp(4.00rem, calc(3.34rem + 3.28vw), 5.31rem);
  --space-3xl-4xl: clamp(5.00rem, calc(4.31rem + 3.44vw), 6.38rem);
  --space-4xl-5xl: clamp(6.00rem, calc(5.28rem + 3.59vw), 7.44rem);
  --space-5xl-6xl: clamp(7.00rem, calc(6.25rem + 3.75vw), 8.50rem);
  --space-6xl-7xl: clamp(8.00rem, calc(7.22rem + 3.91vw), 9.56rem);
}

.page {
  background: var(--primary);
  color: var(--text);
  overflow: auto;
  margin: 0;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 100vh;
  }
}

.container {
  max-width: 96ch;
  width: 100%;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-bottom: var(--space-4xl);
}

.arrow-list li {
  padding-left: 22px;
  position: relative;
}
.arrow-list li:before {
  content: "→";
  font-size: 0.8em;
  vertical-align: baseline;
  position: absolute;
  left: 0;
}

.grid-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@media (min-width: 480px) {
  *[class*=grid-] {
    display: grid;
    grid-gap: 3rem;
  }
}
/* Spacing */
.m-1 {
  margin: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.p-1 {
  padding: 4px;
}

.pt-1 {
  padding-top: 4px;
}

.pr-1 {
  padding-right: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pl-1 {
  padding-left: 4px;
}

.m-2 {
  margin: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.p-2 {
  padding: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.pr-2 {
  padding-right: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pl-2 {
  padding-left: 8px;
}

.m-3 {
  margin: 12px;
}

.mt-3 {
  margin-top: 12px;
}

.mr-3 {
  margin-right: 12px;
}

.mb-3 {
  margin-bottom: 12px;
}

.ml-3 {
  margin-left: 12px;
}

.p-3 {
  padding: 12px;
}

.pt-3 {
  padding-top: 12px;
}

.pr-3 {
  padding-right: 12px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pl-3 {
  padding-left: 12px;
}

.m-4 {
  margin: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.ml-4 {
  margin-left: 16px;
}

.p-4 {
  padding: 16px;
}

.pt-4 {
  padding-top: 16px;
}

.pr-4 {
  padding-right: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pl-4 {
  padding-left: 16px;
}

.m-5 {
  margin: 20px;
}

.mt-5 {
  margin-top: 20px;
}

.mr-5 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 20px;
}

.p-5 {
  padding: 20px;
}

.pt-5 {
  padding-top: 20px;
}

.pr-5 {
  padding-right: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 20px;
}

.m-6 {
  margin: 24px;
}

.mt-6 {
  margin-top: 24px;
}

.mr-6 {
  margin-right: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.ml-6 {
  margin-left: 24px;
}

.p-6 {
  padding: 24px;
}

.pt-6 {
  padding-top: 24px;
}

.pr-6 {
  padding-right: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pl-6 {
  padding-left: 24px;
}

.m-7 {
  margin: 28px;
}

.mt-7 {
  margin-top: 28px;
}

.mr-7 {
  margin-right: 28px;
}

.mb-7 {
  margin-bottom: 28px;
}

.ml-7 {
  margin-left: 28px;
}

.p-7 {
  padding: 28px;
}

.pt-7 {
  padding-top: 28px;
}

.pr-7 {
  padding-right: 28px;
}

.pb-7 {
  padding-bottom: 28px;
}

.pl-7 {
  padding-left: 28px;
}

.m-8 {
  margin: 32px;
}

.mt-8 {
  margin-top: 32px;
}

.mr-8 {
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 32px;
}

.ml-8 {
  margin-left: 32px;
}

.p-8 {
  padding: 32px;
}

.pt-8 {
  padding-top: 32px;
}

.pr-8 {
  padding-right: 32px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pl-8 {
  padding-left: 32px;
}

.m-9 {
  margin: 36px;
}

.mt-9 {
  margin-top: 36px;
}

.mr-9 {
  margin-right: 36px;
}

.mb-9 {
  margin-bottom: 36px;
}

.ml-9 {
  margin-left: 36px;
}

.p-9 {
  padding: 36px;
}

.pt-9 {
  padding-top: 36px;
}

.pr-9 {
  padding-right: 36px;
}

.pb-9 {
  padding-bottom: 36px;
}

.pl-9 {
  padding-left: 36px;
}

.m-10 {
  margin: 40px;
}

.mt-10 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 40px;
}

.mb-10 {
  margin-bottom: 40px;
}

.ml-10 {
  margin-left: 40px;
}

.p-10 {
  padding: 40px;
}

.pt-10 {
  padding-top: 40px;
}

.pr-10 {
  padding-right: 40px;
}

.pb-10 {
  padding-bottom: 40px;
}

.pl-10 {
  padding-left: 40px;
}

/* Display */
.df {
  display: flex;
}

.db {
  display: block;
}

.article__header {
  margin: var(--space-m) 0 var(--space-7xl);
}
.article__description {
  margin-block: var(--space-m);
}
.article__date {
  font-size: var(--step--1);
}
.article__date:before {
  content: "";
  height: 1px;
  background-color: var(--text);
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.article__content {
  max-width: 640px;
}
.article__content ul:not(.taglist) {
  margin-top: 0.8rem;
}
.article__content ul:not(.taglist) li:before {
  content: "→";
  margin-right: 0.3em;
}
.article__content ol {
  margin-top: 0.8rem;
  counter-reset: content-counter;
}
.article__content ol li {
  counter-increment: content-counter;
}
.article__content ol li:before {
  content: counter(content-counter) ". ";
  font-size: 0.875em;
  font-weight: 600;
}

.article-teaser {
  display: flex;
  align-items: flex-start;
}
.article-teaser__date {
  margin-right: 2rem;
  font-size: 1.4rem;
  margin-top: 5px;
}
.article-teaser h2 {
  margin-top: 0;
}
.article-teaser + .article-teaser {
  margin-top: var(--space-m);
}

.breadcrumb {
  font-size: var(--step--1);
  margin-block-start: var(--space-3xl);
}

.hero {
  padding: var(--space-6xl) 0 var(--space-7xl);
}

.baseline {
  font-size: var(--step-3);
  font-weight: 300;
}
.baseline em {
  position: relative;
}
.baseline em:before {
  content: "";
  width: 100%;
  height: 0.1em;
  display: block;
  position: absolute;
  background-color: var(--emphasis);
  bottom: -2px;
  left: 0;
}

.page__title {
  font-weight: 600;
}
.page__title a {
  border: 0;
}

.job {
  color: var(--textFaded);
}

.page-footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
}
.page-footer__menu li {
  display: inline-block;
}
.page-footer__menu li + li {
  margin-left: 5px;
}
.page-footer p {
  font-size: var(--step--1);
}

.sidebar,
.page-footer {
  display: none;
}
