---
permalink: /blog/tags/
layout: layouts/page.njk
title: Tags
eleventyNavigation:
  key: Tags
  parent: Blog
---

<ul class="taglist">
  {% for tag in collections.tags %} {%- set tagUrl %}/blog/tags/{{
    tag | slugify
  }}/{% endset %}
  <li>
    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  </li>
  {% endfor %}
</ul>
