.last-notes {
  background-color: var(--accent-006);
  padding-block-start: var(--space-xl);
  padding-block-end: var(--space-2xl);

  .button {
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-block-start: var(--space-s);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-m);
  }
}
