.sidebar {
  background-color:var(--secondary);
  color: var(--primary);
  font-size: var(--step--1);
  padding: 34px 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    color: var(--primaryClear);
    display: block;
  }

  a:before {
    content: none;
  }

  @media screen and (min-width: 48rem) {
    flex-direction: column-reverse;
    margin-right: 24px;
    padding: 24px;
    
    &__contact {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }

  
  &__toggle-mode {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--grey);
    border: 0;
    cursor: pointer;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    .sun {display: none;}
    .moon {display: block;}
    body.dark & {
      .sun {display: block;}
      .moon {display: none;}
    }
  }
}
