{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, {includeSelf: true}) %}

{% if navPages %}
  <nav class="breadcrumb">
    {% for navPage in navPages %}
      {% if loop.last %}
        {{ navPage.key }}
      {% else %}
        <a href="{{ navPage.url }}" class="border-0">{{navPage.key}}</a> >
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}