{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, {includeSelf: true}) %}

{% if navPages %}
  <nav class="breadcrumb" role="navigation" aria-label="Fil d'ariane">
    {% for navPage in navPages %}
      {% if loop.last %}
        {{ navPage.key }}
      {% else %}
        <a href="{{ navPage.url }}">{{navPage.key}}</a> >
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}
