<footer class="page-footer">
  <ul class="page-footer__menu">
    <li>
      <a href="/mentions-legales">Mentions légales</a>
    </li>
    <li>
      <a href="/plan-site">Plan du site</a>
    </li>
    <li>
      <a rel="me" href="https://github.com/jeanremy">GitHub</a>
    </li>
    <li>
      <a rel="me" href="https://mastodon.design/@jnrmprd">Mastodon</a>
    </li>
    <li>
      <a href="/blog/feed.xml">RSS</a>
    </li>
  </ul>
  <p>
    Score <a href="/mentions-legales/">ÉcoIndex</a>:
    A
  </p>
</footer>