<header class="page-header">
  <div>
    <p class="page__title">Jean-Rémy Praud</p>
    <p class="job">Developpeur Fullstack</p>
  </div>

  <nav class="page-header__nav">
    <ul>
      <li>
        <a href="/" {% if page.url == "/" %} aria-current="page"{% endif %}>À propos</a>
      </li>
      <li>
        <a href="/notes" {% if "notes" in page.url  %} aria-current="page"{% endif %}>Notes</a>
      </li>
    </ul>
  </nav>
</header>