<header class="page-header">
  <div>
    {% if page.url == "/" %}
      <p class="page__title">Jean-Rémy Praud</p>
    {% else %}
      <p class="page__title">
        <a href="/" rel="me" title="Homepage">Jean-Rémy Praud</a>
      </p>
    {% endif %}
    <p class="job">Developpeur Fullstack à Nantes</p>
  </div>
</header>