<article class="article-teaser ">
  <h2 class="h4 with-hyphen">
    <a href={{ post.data.page.url }}>{{ post.data.title }}</a>
  </h2>
  <p>{{post.data.description}}</p>
  <p class="article-teaser__date">
    Posté le&nbsp;<time datetime="{{ date | format("YYYY/MM/DD") }}">{{ date | format('DD/MM/YYYY') }}</time>
  </p>
</time>
</article>