<article class="article-teaser">
  <p class="article-teaser__date">
    <time  datetime="{{ post.data.date | format("YYYY-MM-DD") }}">{{ post.data.date | format('MM/YY') }}</time>
  </p>

  <div>
    <h2 class="article-teaser__title">
      <a href={{ post.data.page.url }}>{{ post.data.title }}</a>
    </h2>
    <p class="article-teaser__description">{{post.data.description}}</p>
  </div>
</article>