---
permalink: /notes/
layout: page.njk
title: Notes
eleventyNavigation:
  key: Notes
  parent: Accueil
---

{% set postslist = collections.posts %}
<div
  class="postlist"
>
  {% for post in postslist | reverse %}
    {% include 'partials/post-teaser.njk' %}
  {% endfor %}
</div>